$first-component-background: rgb(255, 255, 255);
$first-component-shadow: rgba(161, 158, 158, 0.3);
$first-component-info-text: rgb(136, 133, 133);
$first-component-stat-background: rgb(243, 236, 249);
$first-component-stat-borders: rgba(119, 145, 177, 0.199);

$second-component-text-color: rgb(255, 255, 255);
$second-component-title-color: rgb(76, 83, 89);

$third-component-shadow: rgba(85, 81, 81, 0.603);
$third-component-status-online: green;
$third-component-status-offline: red;
$third-component-background: rgb(255, 255, 255);

$forth-component-table-background: #ece9e0;
$forth-component-header-text-color: white;
$first-component-header-background: rgb(0, 188, 213);
$forth-component-odd-data-color: rgb(104, 109, 115);
